.section-content
  %h1 Where to Stay

  %p San Francisco is a city of many hills and expensive hotels. We recommend staying somewhere in central San Francisco, and not near the Zoo, because there are more fun things to do in the middle of the city, and the Zoo is alllllllll the way next to the ocean and far from everything else.

  %h3 Airbnb

  %p airbnb is a fun site where you can rent rooms (or whole apartments or whole houses) from private individuals. We've used it before and have had a great experience, plus you can stay in our neighborhood (Bernal Heights / the Mission) despite the dearth of hotels! You can often find much better deals on airbnb than you can at SF hotels.

  %ul
    %li= link_to "airbnbs in the Mission District", "https://www.airbnb.com/s/San-Francisco--CA?neighborhoods%5B%5D=Mission+District"
    %li= link_to "airbnbs in Bernal Heights", "https://www.airbnb.com/s/San-Francisco--CA?neighborhoods%5B%5D=Bernal+Heights"

  %h3 A regular B&B

  %p There are a few bed & breakfasts in the Mission / Noe Valley area that you might try your luck at. These have #{ link_to "good Yelp reviews", "http://www.yelp.com/search?find_desc=bed+and+breakfast&find_loc=San+Francisco%2C+CA&ns=1#l=g:-122.39524841308594,37.776692606977626,-122.44640350341797,37.73597683663456"}!
  %ul
    %li
      = link_to "The Inn San Francisco", "http://www.innsf.com/"
      &mdash;
      looks a bit expensive but also so charming
    %li
      = link_to "Noe's Nest Bed and Breakfast", "http://www.noesnest.com/"
      &mdash;
      same!

    %li
      = link_to "Hotel Mirabelle", "http://hotelmirabelle.com/"
      &mdash;
      A cheaper option described as
      = link_to "a little aged and dingy", "http://www.yelp.com/biz/hotel-mirabelle-san-francisco#hrid:mHgi2zE4r2DpCyspx-lSUQ"
      by one Yelp reviewer, but still okay, maybe?
  %h3 A hotel

  %p There are lots of hotels in the mid-Market / Union Square area. Anywhere walkable to Market Street will be convenient for getting to the wedding ceremony and for tourist-ing about SF.

  %p These seem like reasonable hotels to try your hand at (disclaimer: neither Travis nor Lillie have ever stayed in a hotel in San Francisco):

  %ul
    %li
      #{link_to "Hotel Whitcomb", "http://www.historichotels.org/hotels-resorts/hotel-whitcomb/"}
      &mdash;
      very close to public transit that can take you to & from the zoo
    %li
      #{link_to "Hilton Union Square", "http://www3.hilton.com/en/hotels/california/hilton-san-francisco-union-square-SFOFHHH/index.html"}
      &mdash;
      good location for shopping and walking around downtown SF
