%h3 Guests
%table.table.datatable
  %thead
    %tr
      %th Guest Names
      %th.small-column Guest Emails
      %th.medium-column Invite Link
      %th Category
      %th.medium-column Zoo Walk?
      %th.medium-column Wedding?
      %th.medium-column Brunch?
  %tbody
    - @invitations.each do |invitation|
      %tr
        %td= invitation.guests.pluck(:name).join(", ")
        %td= invitation.guests.pluck(:email).join(", ")
        %td= link_to "Invitation", secretive_path(invitation.external_id)
        %td= invitation.guests.first.relationship_type
        %td= event_rsvp(invitation, "zoo_walk")
        %td= event_rsvp(invitation, "wedding")
        %td= event_rsvp(invitation, "brunch")
