- content_for :container_class, "wide-body"

%h2 WELCOME TO ADMIN LAND
%p You must be getting married.

%h3 Totals
%ul.list-unstyled
  %li Invited guests: #{@guests.count}
  %li Total invitations: #{@invitations.count}
  %li <b>Invitation RSVPs</b>
  %ul
    %li Rehearsal Dinner: #{yes_event_guest_count(:rehearsal_dinner)} yes / #{nos_event_guest_count(:rehearsal_dinner)} no (out of #{total_event_guest_count(:rehearsal_dinner)} guests)
    %li Zoo Walk: #{yes_event_guest_count(:zoo_walk)} yes / #{nos_event_guest_count(:zoo_walk)} no (out of #{total_event_guest_count(:zoo_walk)} guests)
    %li Wedding: #{yes_event_guest_count(:wedding)} yes / #{nos_event_guest_count(:wedding)} no (out of #{total_event_guest_count(:wedding)} guests)
    %li Sunday brunch: #{yes_event_guest_count(:brunch)} yes / #{nos_event_guest_count(:brunch)} no (out of #{total_event_guest_count(:brunch)} guests)

= render "rsvps_table"

= button_to "Send invitations", send_invitations_path, class: "btn btn-primary", data: { confirm: "Really?" }

= button_to "Send reminders", send_reminders_path, class: "btn btn-primary", data: { confirm: "Really?" }
