%h2 WELCOME TO ADMIN LAND
%p You must be getting married.

%h3 Totals
%ul.list-unstyled
  %li Invited guests: #{@guests.count}
  %li RSVPs
  %ul
    %li Wedding: #{@rsvps.yeses.wedding.count} yes / #{@rsvps.nos.wedding.count} no
    %li Rehearsal Dinner: #{@rsvps.yeses.rehearsal.count} yes / #{@rsvps.nos.rehearsal.count} no
    %li Sunday brunch: #{@rsvps.yeses.brunch.count} yes / #{@rsvps.nos.brunch.count} no

= render "rsvps_table"

= button_to "Send invitations", send_invitations_path, class: "btn btn-primary", data: { confirm: "Really?" }
