%nav.navbar#nav{role: "navigation"}
  .navbar-header
    %ul.nav.navbar-nav
      %li= link_to "Home", root_path
      %li= link_to "Where to Stay", lodging_path
      %li= link_to "Transportation", transport_path
      %li= link_to "Events", events_path
      %li= link_to "Registries", registries_path
      %li= link_to "FAQ", faq_path
