= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"
= image_tag "lemurs.png", class: "rotate"

.msg
  HAPPY ANNIVERSARY TRAVIS



