- if @invitation.is_coming?
  %p Thank you for RSVPing! We're so excited to see you. Check out the #{ link_to "FAQs", faq_path } and our recommendations for #{ link_to "lodging", lodging_path } and #{ link_to "transit", transport_path } options.

%h2 Travis and Lillie are getting married!

%h3 Which events will you be joining us for?
%em Check the box next to each event you'll be at.


= form_for @invitation do |f|
  .rsvp_checkboxes
    = f.fields_for :rsvps do |ff|
      - event_title = ff.object.event.title
      .checkbox
        = ff.label :attending do
          = ff.check_box :attending
          = event_description(event_title)
  .guests
    %h3 Who's coming?
    %em Update names as needed

    = f.fields_for :guests do |ff|
      #guest_name_field
        = ff.text_field :name, class: "guest_name"
        = ff.label :_destroy, class: "remove_#{ff.object.id}" do
          = ff.check_box :_destroy, class: "remove_#{ff.object.id}"
          Remove from RSVP

  %h3 Want to take the shuttle back after the reception?
  %em
    Since there probably won't be very many cabs around the Zoo at 11pm on a Saturday, we're hiring a shuttle to take guests back to 24th and Mission Bart station after the reception is over.
  .control-group.mt-15
    = f.label :shuttle_true do
      = f.radio_button :shuttle, :true
      Yes, we'd like to take the shuttle back
  .control-group
    = f.label :shuttle_false do
      = f.radio_button :shuttle, :false
      No, we'll find our own way home.

  .rsvp-submit-wrapper
    = f.submit "Yes! See you soon!", class: "button btn btn-primary rsvp-yes"

= form_for @invitation do |f|
  = f.fields_for :rsvps do |ff|
    = ff.hidden_field :attending, value: 0
  = f.submit "Shoot, we can't make it at all.", class: "button btn btn-warning"
